In [2]:
import pyodbc
server = 'DESKTOP-40AG9RR\MTSQLSERVER'
database = 'AdventureWorksDW2012' # enter database name
username = ''
password = '' 
# add appropriate driver name
MsSqlCon = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

import pandas as pd 

query = '''SELECT * FROM [AdventureWorksDW2012].[dbo].[FactInternetSales]''';
df = pd.read_sql(query, MsSqlCon)
df.tail()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
60393,485,20140128,20140209,20140204,15868,1,100,6,SO75122,1,...,8.2205,8.2205,21.98,1.7584,0.5495,None,None,2014-01-28,2014-02-09,2014-02-04
60394,225,20140128,20140209,20140204,15868,1,100,6,SO75122,2,...,6.9223,6.9223,8.99,0.7192,0.2248,None,None,2014-01-28,2014-02-09,2014-02-04
60395,485,20140128,20140209,20140204,18759,1,100,6,SO75123,1,...,8.2205,8.2205,21.98,1.7584,0.5495,None,None,2014-01-28,2014-02-09,2014-02-04
60396,486,20140128,20140209,20140204,18759,1,100,6,SO75123,2,...,59.4660,59.4660,159.00,12.7200,3.9750,None,None,2014-01-28,2014-02-09,2014-02-04
60397,225,20140128,20140209,20140204,18759,1,100,6,SO75123,3,...,6.9223,6.9223,8.99,0.7192,0.2248,None,None,2014-01-28,2014-02-09,2014-02-04

In [3]:
df=df[df['OrderDate']<= "2013-12-28"]
df.tail(15)

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
58174,604,20131228,20140109,20140104,23884,1,100,4,SO74141,1,...,343.6496,343.6496,539.99,43.1992,13.4998,None,None,2013-12-28,2014-01-09,2014-01-04
58175,471,20131228,20140109,20140104,23884,1,100,4,SO74141,2,...,23.7490,23.7490,63.50,5.0800,1.5875,None,None,2013-12-28,2014-01-09,2014-01-04
58176,384,20131228,20140109,20140104,22253,1,100,1,SO74142,1,...,713.0798,713.0798,1120.49,89.6392,28.0123,None,None,2013-12-28,2014-01-09,2014-01-04
58177,490,20131228,20140109,20140104,22253,1,100,1,SO74142,2,...,41.5723,41.5723,53.99,4.3192,1.3498,None,None,2013-12-28,2014-01-09,2014-01-04
58178,606,20131228,20140109,20140104,28517,1,98,10,SO74143,1,...,343.6496,343.6496,539.99,43.1992,13.4998,None,None,2013-12-28,2014-01-09,2014-01-04
58179,479,20131228,20140109,20140104,28517,1,98,10,SO74143,2,...,3.3623,3.3623,8.99,0.7192,0.2248,None,None,2013-12-28,2014-01-09,2014-01-04
58180,477,20131228,20140109,20140104,28517,1,98,10,SO74143,3,...,1.8663,1.8663,4.99,0.3992,0.1248,None,None,2013-12-28,2014-01-09,2014-01-04
58181,463,20131228,20140109,20140104,28517,1,98,10,SO74143,4,...,9.1593,9.1593,24.49,1.9592,0.6123,None,None,2013-12-28,2014-01-09,2014-01-04
58182,574,20131228,20140109,20140104,12314,1,100,8,SO74144,1,...,1481.9379,1481.9379,2384.07,190.7256,59.6018,None,None,2013-12-28,2014-01-09,2014-01-04
58183,222,20131228,20140109,20140104,12314,1,100,8,SO74144,2,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2013-12-28,2014-01-09,2014-01-04
58184,561,20131228,20140109,20140104,13650,1,6,9,SO74145,1,...,1481.9379,1481.9379,2384.07,190.7256,59.6018,None,None,2013-12-28,2014-01-09,2014-01-04
58185,584,20131228,20140109,20140104,26916,1,6,9,SO74146,1,...,343.6496,343.6496,539.99,43.1992,13.4998,None,None,2013-12-28,2014-01-09,2014-01-04
58186,605,20131228,20140109,20140104,27473,1,6,9,SO74147,1,...,343.6496,343.6496,539.99,43.1992,13.4998,None,None,2013-12-28,2014-01-09,2014-01-04
58187,538,20131228,20140109,20140104,27473,1,6,9,SO74147,2,...,8.0373,8.0373,21.49,1.7192,0.5373,None,None,2013-12-28,2014-01-09,2014-01-04
58188,490,20131228,20140109,20140104,27473,1,6,9,SO74147,3,...,41.5723,41.5723,53.99,4.3192,1.3498,None,None,2013-12-28,2014-01-09,2014-01-04

In [5]:
import numpy as np

dataset=df.groupby("OrderDate")["SalesAmount"].aggregate([np.sum]).reset_index()
dataset.columns = ("Tarih","Deger")
dataset.dtypes
dataset.tail(50)

          Tarih     Deger
1043 2013-11-09  60381.90
1044 2013-11-10  45438.25
1045 2013-11-11  60012.34
1046 2013-11-12  63750.07
1047 2013-11-13  69543.00
1048 2013-11-14  54233.28
1049 2013-11-15  47690.51
1050 2013-11-16  62944.30
1051 2013-11-17  79066.27
1052 2013-11-18  67912.71
1053 2013-11-19  59918.19
1054 2013-11-20  61509.88
1055 2013-11-21  65679.51
1056 2013-11-22  64845.98
1057 2013-11-23  47126.89
1058 2013-11-24  54615.87
1059 2013-11-25  59939.05
1060 2013-11-26  64306.09
1061 2013-11-27  45770.83
1062 2013-11-28  74052.03
1063 2013-11-29  44650.70
1064 2013-11-30  35496.03
1065 2013-12-01  58528.60
1066 2013-12-02  49466.61
1067 2013-12-03  66287.66
1068 2013-12-04  82848.27
1069 2013-12-05  89097.42
1070 2013-12-06  62187.00
1071 2013-12-07  63484.21
1072 2013-12-08  58304.76
1073 2013-12-09  79844.18
1074 2013-12-10  55053.73
1075 2013-12-11  57721.86
1076 2013-12-12  96611.61
1077 2013-12-13  65564.38
1078 2013-12-14  58464.04
1079 2013-12-15  71000.40
1080 2013-12-16  58087.49
1081 2013-12-17  72013.14
1082 2013-12-18  67275.47
1083 2013-12-19  83119.46
1084 2013-12-20  66769.39
1085 2013-12-21  48791.78
1086 2013-12-22  65922.19
1087 2013-12-23  76914.61
1088 2013-12-24  69533.64
1089 2013-12-25  58080.78
1090 2013-12-26  78906.59
1091 2013-12-27  60959.78
1092 2013-12-28  48375.33

In [51]:
# dataset i doldurduktan sonra ilk bu Ã§alÄ±ÅŸacak.. grafik Ã§izimine gerek yok
#  her daÄŸÄ±lÄ±m iÃ§in case when ile random generator, ayarlanmalÄ±, her daÄŸÄ±lÄ±mÄ±n parametre sayÄ±sÄ± vs... deÄŸiÅŸiyor Ã§Ã¼nkÃ¼
dist_names = ["norm", "exponweib", "weibull_max", "weibull_min", "pareto", "genextreme"]
dist_results = []
params = {}
    
for dist_name in dist_names:
    dist = getattr(st, dist_name)
    param = dist.fit(dataset["Deger"])

    params[dist_name] = param
    # Applying the Kolmogorov-Smirnov test
    D, p = st.kstest(dataset["Deger"], dist_name, args=param)
#     print("p value for "+dist_name+" = "+str(p))
    dist_results.append((dist_name, p))

# select the best fitted distribution
best_dist, best_p = (max(dist_results, key=lambda item: item[1]))
# store the name of the best fit and its p value

print("Best fitting distribution: "+str(best_dist))
print("Best p value: "+ str(best_p))
print("Parameters for the best fit: "+ str(params[best_dist]))
result_param=str(params[best_dist])
    
# best_dist
# list_best_params=list(params[best_dist])
# list_best_params

Best fitting distribution: norm
Best p value: 5.830527800786326e-20
Parameters for the best fit: (26814.12313879231, 17036.227450587012)

In [72]:
from scipy.stats import norm
import pandas as pd

x=norm.rvs(loc=26814.12313879231, scale=17036.227450587012, size=10000)
DataSetSim=pd.DataFrame({'SimValues':x} )

DataSetSim.index.name = 'Id'
DataSetSim

         SimValues
Id
0     59591.948543
1      2915.262536
2     22857.052044
3      5020.948627
4     37924.552645
...            ...
9995  18427.352451
9996  35508.745039
9997  -6822.225009
9998  27715.059907
9999  22563.426872

[10000 rows x 1 columns]

In [73]:
from sqlalchemy import create_engine

con = create_engine('mssql+pyodbc://@DESKTOP-40AG9RR\MTSQLSERVER/AdventureWorksDW2012?driver=SQL Server')
con.connect() 

DataSetSim.to_sql('TableMonteCarlo', con, if_exists='replace', index = True)